<div class="navbar">
    <div class="title">
        <a href="/"> <h1>Moj Najdraži Nastavnik</h1> </a>
    </div>
    <div class="menu">
        <a href="/reg">Registruj se</a>
    </div>
</div>

<div class="main-card">
    <div class="form-card">
        <h2 *ngIf="!passChanged">Forma za promenu lozinke</h2> 
        <table *ngIf="!passChanged">
            <tr>
            <td>Korisničko ime:</td>
            <td><input type="text" [(ngModel)]="username"></td>
            </tr>
            <tr>
            <td>Stara lozinka:</td>
            <td><input type="password" [(ngModel)]="password"></td>
            </tr>
            <tr>
            <td>Nova lozinka:</td>
            <td><input type="password" [(ngModel)]="newPass"></td>
            </tr>
            <tr>
            <td>Potvrda nove lozinke:</td>
            <td><input type="password" [(ngModel)]="repeatPass"></td>
            </tr>
        </table>
        <span class="error-message">{{mess}}</span><br/>
        <button (click)="changePassword()" *ngIf="!passChanged">Promeni šifru</button>
        <button (click)="login()" *ngIf="passChanged">Prijavi se</button>
    </div> 
    
</div>

<div class="footer">
    <p>@ 2024 By Zorana Cerovac</p>
</div>