<div class="navbar">
    <div class="title">
        <a href="/profesor"> <h1>Moj Najdraži Nastavnik</h1> </a>
    </div>
    <div class="menu">
        <a href="/profesor" >Profil</a>
        <a href="/profesor/user">Časovi</a>
        <a href="/profesor/lessons" style="opacity: 0.7">Moji učenici</a>
        <a href="/">Odjavi se</a>
    </div>
</div>

<div class="middle">
    <div class="main-card">
        <h3>Spisak svih učenika kojima sam držao časove: </h3>
        <table *ngIf="tableFlag">
            <tr>
                <th>Ime i prezime učenika </th>
            </tr>
            <tr *ngFor="let s of myStudents">
                <td>
                    {{s.studentFirstname}} {{s.studentLastname}}
                   <a href="/profesor/studentDetail" (click)="showstudentDetail(s.studentUsername)">(prikaži sve časove) </a>
                </td>
            </tr>
        </table>
        <p *ngIf="!tableFlag">Niste održali nijedan čas do sada.</p>
    </div>
</div>


<div class="footer">
    <p>@ 2024 By Zorana Cerovac</p>
</div>
