.form-card{
  display: flex;
  flex-direction: column;
 /* justify-content: center; */
  align-items: center;
  background-color: #FFEBEB;
  border: 7px solid #AE445A;
  border-style: outset;
  opacity: 0.9;

  padding: 30px;
  width: 30%;
}

.main-card{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  
}

.error-message{
  color: red;
}

td {
  text-align: left;
  padding: 2px;
}

td label {
  display: inline-block;
  width: 120px; /* Optional: Set the label width as needed */
  text-align: left;
  padding-right: 10px; /* Optional: Adjust the right padding as needed */
}

td input {
  width: 100%; /* Optional: Make the input field fill the entire width of the cell */
  border: 1px solid #AE445A;
  border-radius: 5px;

  outline: none; /* Remove the outline on focus */
  padding: 2px;
}

input:focus {
  outline: none; /* Remove the default focus outline */
  border-color: #662549; /* Change the border color on focus */
  box-shadow: 0 0 5px rgba(174, 68, 90, 0.7); /* Add a subtle box shadow on focus */
}


button {
  padding: 10px 20px; /* Adjust padding as needed */
  border: none; /* Remove the border */
  background-color: #662549; /* Set the background color to red */
  color: white; /* Set the text color to white */
  cursor: pointer; /* Add a pointer cursor on hover */
  border-radius: 5px;
}

button:hover {
  opacity: 0.7;
}

.changePasswordLink{
  text-decoration: none;
  color: #AE445A;
}

.changePasswordLink:hover{
  color: #662549;
  border-bottom-color: #662549;
  text-decoration: underline;
}


/* HEADER AND FOOTER */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #AE445A;
  opacity: 0.95;
  color: black;
}

.title h1 {
  font-family: 'Dancing Script', cursive;
  margin: 0;
}

.title a {
  color: black;
  text-decoration: none;
}

.menu a {
  color: black;
  text-decoration: none; 
  padding: 8px;
}

.menu a:hover {
  text-decoration: underline; 
}

.footer {
  background-color: #AE445A;
  opacity: 0.95;
  color: black;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}



