.form-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  border: 7px solid black;
  border-style: outset;
  opacity: 0.9;
  padding: 30px;
}

.main-card{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 100px;
}

.error-message{
  color: red;
}

td {
  text-align: left;
  padding: 5px;
}

td label {
  display: inline-block;
  width: 120px; /* Optional: Set the label width as needed */
  text-align: left;
  padding-right: 10px; /* Optional: Adjust the right padding as needed */
}

td input {
  border: 1px solid black;
  border-radius: 5px;
  outline: none; /* Remove the outline on focus */
  padding: 2px;
}

input:focus {
  outline: none; /* Remove the default focus outline */
  border-color: black; /* Change the border color on focus */
  box-shadow: 0 0 5px rgba(71, 65, 66, 0.7); /* Add a subtle box shadow on focus */
}


button {
  padding: 10px 20px; /* Adjust padding as needed */
  border: none; /* Remove the border */
  background-color: black; /* Set the background color to red */
  color: white; /* Set the text color to white */
  cursor: pointer; /* Add a pointer cursor on hover */
  border-radius: 5px;
}

button:hover {
  opacity: 0.7;
}

.profile-image{
  width: 100px;
  height: 100px;
}

.error-message{
  color: red;
}
/* HEADER AND FOOTER */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: black;
  opacity: 0.95;
  color: white;
}

.title h1 {
  font-family: 'Dancing Script', cursive;
  margin: 0;
}

.title a {
  color: white;
  text-decoration: none;
}

.menu a {
  color: white;
  text-decoration: none; 
  padding: 8px;
}

.menu a:hover {
  text-decoration: underline; 
}

.footer {
  background-color: black;
  opacity: 0.95;
  color: white;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

