.form-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFEBEB;
  border: 7px solid #AE445A;
  border-style: outset;
  opacity: 0.9;

  padding: 30px;
  min-width: 50%;
  min-height: 50%;
}

.main-card{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 100px;
}

.error-message{
  color: red;
}

td {
  text-align: left;
  padding: 3px;
}

td label {
  display: inline-flex;
  align-items: center;
  text-align: left;
  padding-right: 10px; /* Optional: Adjust the right padding as needed */
}

td input {
   /* Optional: Make the input field fill the entire width of the cell */
  outline: none; /* Remove the outline on focus */
  padding: 2px;
  margin-right: 5px;
  border: 1px solid #AE445A;
  border-radius: 5px;

}

.register-button{
  margin-top: 20px;

}

button {
  border: none; /* Remove the border */
  background-color: #662549; /* Set the background color to red */
  color: white; /* Set the text color to white */
  cursor: pointer; /* Add a pointer cursor on hover */

  width: 120px; /* Set the width of the button */
  height: 40px; /* Set the height of the button */
  padding: 10px;

  border-radius: 5px;
  transition: opacity 0.3s ease;
}

button:hover {
  opacity: 0.7;
}


.custom-dropdown, .custom-dropdown-grades {
  position: relative;
}

.custom-dropdown select, .custom-dropdown-grades select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #AE445A;
  border-radius: 5px;
  padding: 4px;
  width: 100%;
  cursor: pointer;
}

.custom-dropdown select:focus,
.custom-dropdown-grades  select:focus{
  outline: none;
  border-color: #662549; /* Change the border color on focus */
  box-shadow: 0 0 5px rgba(174, 68, 90, 0.7); /* Add a subtle box shadow on focus */
}

.custom-dropdown::after{
  content: '▼'; /* Unicode for downward arrow */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

.custom-dropdown-teacher{
  border-color: #662549;
}


/* Stil za stvarni unos datoteke */
.custom-file-input {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  cursor: pointer;
}

/* Stil za prilagođeno dugme */
.custom-file-button {
  display: inline-block;
  font-size: 14px;
  padding: 7px 7px;
  background-color: #AE445A;
  opacity: 0.9;
  color: white;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.custom-file-button:hover {
  opacity: 0.7;
}

textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #AE445A;
  border-radius: 5px;
  resize: vertical; /* Allow vertical resizing */
}

textarea:focus {
  outline: none; /* Remove the default focus outline */
  border-color: #662549; /* Change the border color on focus */
  box-shadow: 0 0 5px rgba(174, 68, 90, 0.7); /* Add a subtle box shadow on focus */
}

input:focus {
  outline: none; /* Remove the default focus outline */
  border-color: #662549; /* Change the border color on focus */
  box-shadow: 0 0 5px rgba(174, 68, 90, 0.7); /* Add a subtle box shadow on focus */
}


input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: white;
  border: 2px solid #662549; /* Set the border color */
  border-radius: 20%; /* Make it circular */
  width: 16px; /* Set the width of the radio button */
  height: 16px; /* Set the height of the radio button */
  margin-left: 5px;
  outline: none;
  transition: border-color 0.3s ease; /* Add transition effect for smoother changes */
}

/* Style the radio button when checked */
input[type="radio"]:checked {
  background-color: #662549;
  opacity: 0.9;
  border-color: #662549; /* Change the border color when checked */
}


/* HEADER AND FOOTER */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #AE445A;
  opacity: 0.95;
  color: black;
}

.title h1 {
  font-family: 'Dancing Script', cursive;
  /* font-family: 'Lobster', sans-serif; */
  margin: 0;
}

.title a {
  color: black;
  text-decoration: none;
}

.menu a {
  color: black;
  text-decoration: none;
  padding: 8px; 
}

.menu a:hover {
  text-decoration: underline; 
}

.footer {
  position: fixed; 
  bottom: 0; 
  width: 100%;
  background-color: #AE445A;
  opacity: 0.95;
  color: black;
  text-align: center;
}


