.middle {
  display: flex;
  justify-content: center;
  align-items: center; 
  margin: 50px;
  margin-bottom: 100px;
}

.main-card {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 80%; 
  height: 50%; 
  
  background-color: #FBF0B2;
  border: 7px solid #F3B95F;
  border-style: outset;
  opacity: 0.9;
  padding: 30px;
}



.main-card label {
  display: block;
  font-size: 18px; /* Adjust text font size */
  color: #333;
  margin-bottom: 20px;
}

table{

  border-collapse: collapse;
}

td, th {
  border: 2px solid #F3B95F; /* Postavite debljinu i boju ivica */
  padding: 8px; /* Dodajte ovo svojstvo kako biste imali razmak između sadržaja i ivica */
}

  
td label {
  display: inline-flex;
  align-items: center;
  text-align: left;
  padding-right: 10px; 
}

td input {
  outline: none; 
  padding: 2px;
  margin-right: 5px;
  border: 1px solid #FF7F3F;
  border-radius: 5px;
}

.custom-file-input {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  cursor: pointer;
}

button {
  border: none; 
  background-color: #FF7F3F; 
  color: white; 
  cursor: pointer; 

  width: 100px; 
  height: 30px; 
  padding: 4px;

  border-radius: 5px;
  transition: opacity 0.3s ease;
}

button:hover {
  opacity: 0.7;
}


input:focus {
  outline: none; 
  border-color: #F47340; 
  box-shadow: 0 0 5px rgba(230, 116, 51, 0.7); 
}

/* HEADER AND FOOTER */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #F3B95F;
    opacity: 0.95;
    color: black;
  }
  
  .title h1 {
    font-family: 'Dancing Script', cursive;
    /* font-family: 'Lobster', sans-serif; */
    margin: 0;
  }
  
  .menu a {
    color: black;
    text-decoration: none;
    padding: 8px; 
  }

  .title a {
    color: black;
    text-decoration: none;
  }
  
  .menu a:hover {
    text-decoration: underline; 
  }

  .footer {
    background-color: #F3B95F;
    opacity: 0.95;
    color: black;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

